<h1>Listing articles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Major</th>
    <th>GPA</th>
  </tr>

  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.major %></td>
      <td><%= student.gpa %></td>
    </tr>
    <% end %>
  </table>
