<h1>New Student</h1>
<%= form_for :student, url: students_path do |f| %>
  <p>
    <%= f.label :Name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :Major %><br>
    <%= f.text_field :major %>
  </p>

  <p>
    <%= f.label :GPA %><br>
    <%= f.text_field :gpa %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
